.top
	.back
		= link_to "<< Back to sites", sites_path

%h2= @bookmark.title

- form_for @bookmark, :class => "inline" do |f|
	.form_line
		.label
			= f.label :url, "Full Url"
		.info
			= link_to @bookmark.url, @bookmark.url, :target => "_blank"
	.form_line
		.label
			= f.label :url_short, "Short Url (bit.ly)"
		.info
			= link_to @bookmark.url_short, @bookmark.url_short, :target => "_blank"
	.tags
		Enter tags for this bookmark (comma separated)
		= f.text_field :tag_list, :class => "title"
		= f.submit "Tag", :disable_with => 'Tagging...', :class => "button matte-green"
